<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <title>BLOG</title>
    
</head>
<body>
    <h2> DH NEWS </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius reprehenderit amet et natus voluptatibus dolores error maxime ex explicabo temporibus. Ullam eius possimus nemo cumque. In ad laudantium tempore harum.
        Lorem ipsum dolor sit <b>amet consectetur adipisicing</b> elit. Cupiditate dignissimos nostrum quisquam dolorum accusamus repellat perferendis rerum architecto beatae itaque nisi iusto exercitationem qui aliquid ut, rem necessitatibus ad facilis!
    </p>

    <img src = "/img/destaque.jpeg" alt = ""/>

    <h3>Lorem ipsum dolor sit amet </h3>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum illum quas blanditiis quisquam sapiente harum facilis, repellat optio quia ipsa perspiciatis et mollitia error sequi. Dolorem iure libero dolores repellat.
    </p>

    <ol>
        <li>Lorem ipsum, dolor sit amet consectetur </li>
        <li>Lorem ipsum, dolor sit amet consectetur </li>
        <li>Lorem ipsum, dolor sit amet consectetur </li>

    </ol>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, suscipit quis soluta harum pariatur, necessitatibus dolore asperiores eaque cum hic officia quidem commodi deleniti neque nulla quae beatae esse tempora!

    </p>

    <h3>Lorem ipsum dolor sit amet</h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore magni sit sunt itaque quas dolor repellat ullam eaque, quidem error esse sequi alias, iste eveniet recusandae obcaecati nam, ad laudantium.
    </p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio laboriosam saepe voluptatibus, eos aperiam atque reiciendis nisi nam distinctio amet sapiente veniam facere quis dignissimos laudantium velit in incidunt voluptate?

    </p>

    <p>
        Lorem ipsum dolor sit, amet consectetur <b>adipisicing elit</b>adipisicing elit. Consequuntur, magnam tenetur odio sequi sint voluptas dolore nemo veritatis deserunt corrupti quo ratione optio? Velit error repudiandae et eius amet placeat!
    </p>

    <img class="icon-social" src="/img/facebook.svg"  alt="Icone facebook"  />
    <img class="icon-social" src="/img/instagram.svg" alt="Icone instagram" />
    <img class="icon-social" src="/img/linkedin.svg"  alt="Icone linkedin"  />
    <img class="icon-social" src="/img/youtube.svg"   alt="Icone youtube"   />

    

    
 </body>
</html>