<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia DevHouse</title>
</head>
<body>
    <h1> Agencia DevHouse, Bem vindo </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quos nemo similique placeat eos. Aperiam assumenda minima veniam labore, architecto autem aliquid sunt quibusdam totam suscipit quia hic magni molestiae.
    </p>
    <img src="/img/destaque.jpg" alt=""/>

    <h3>Lorem ipsum dolor sit amet </h3>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum illum quas blanditiis quisquam sapiente harum facilis, repellat optio quia ipsa perspiciatis et mollitia error sequi. Dolorem iure libero dolores repellat.
    </p>

    <ol>
        <li>Lorem ipsum, dolor sit amet consectetur </li>
        <li>Lorem ipsum, dolor sit amet consectetur </li>
        <li>Lorem ipsum, dolor sit amet consectetur </li>

    </ol>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, suscipit quis soluta harum pariatur, necessitatibus dolore asperiores eaque cum hic officia quidem commodi deleniti neque nulla quae beatae esse tempora!

    </p>

    <h3>Lorem ipsum dolor sit amet </h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore magni sit sunt itaque quas dolor repellat ullam eaque, quidem error esse sequi alias, iste eveniet recusandae obcaecati nam, ad laudantium.
    </p>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, magnam tenetur odio sequi sint voluptas dolore nemo veritatis deserunt corrupti quo ratione optio? Velit error repudiandae et eius amet placeat!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis minus reprehenderit quidem beatae eos, magnam esse vitae nisi temporibus sapiente minima ipsam, porro ratione voluptatem laborum exercitationem magni culpa tempora.
    </p>



    
 </body>
</html>